@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    color: #333;
}

body {
    background-color: #fbd05d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 90%;
}

h1 {
    font-weight: 500;
}

#search-container {
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}

input {
    margin: 5px 0;
}

.data-input {
    background-color: whitesmoke;
    width: 190px;
    padding: 10px 20px;
    margin-right: 12px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4776E2;
    text-transform: uppercase;
    border: 1px solid #333;
    border-radius: 25px;
}

.data-input::placeholder {
    color: #888;
    font-weight: 600;
    text-transform: none;
}

#get-weather {
    display: inline-block;
    background-color: transparent;
    padding: 8px 20px;
    margin: 0 4px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 800;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

#get-weather:hover {
    transform: scale(1.1);
}

#weather-info {
    display: none;
    margin-top: 15px;
}

.weather-info p {
    margin: 10px 0;
    font-size: 18px;
}

#error-message {
    margin-top: 20px;
    color: red;
}

#error-message.hidden {
    display: none;
}

#weather-icon img {
    background-color: whitesmoke;
    width: 110px;
    padding: 3px;
    border-radius: 50%;
}

#weather-girl { 
    max-width: 430px;
    width: 100%;
    margin: 45px 0 -20px 0;
}

#temperature {
    font-size: 35px;
    font-weight: bold;
}

#description {
    font-size: 20px;
    font-weight: bold;
}

ion-icon {
    margin-right: 5px;
}

@media (max-width: 576px) {
    #search-container {
        display:flex;
        flex-direction: column;
    }
}